*{
    margin: 0;
    padding: 0;

}
#body{
    min-width: 100vh;
}
#trump_card{
    border: 2px solid black;
    width: 30vw;
    margin: 5vh auto;
    padding: 16px;
}
.Image.webp{
    width: 60%;
    height: 30%;
    margin: 0 20%;

}