/* .div{
    color: aqua;
} */


/* descendent selector */

div p{
    color: red;
}



.para{
    color: aqua;
}


p.para{
    color: rgb(100, 52, 205);
}

/* child selector  */

ul>li{
    color: rgb(90, 14, 14);
}


li+li{
    color: blue;
}





/* immedate selector  */

#favcity{
    color: red;
}


#favcity+li{
    color: aqua;
}


/* general sibling  */

#favcity ~ li{
    color: rgb(255, 0, 208);
}


/* pseudo classes */


a:link{
    color: rgb(60, 16, 16);
}

a:visited{
    color: brown;

}

